<div class="card mb-4">
  {% if post.hero_image %}
  <div class="card-img-top" style="background-image: url('{{ post.hero_image }}');"></div>
  {% endif %}
  <div class="card-block">
    <h4 class="card-title"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h4>
    <div class="card-text">{{ post.description | markdownify }}</div>
  </div>
  <div class="card-footer">
    <p class="card-text post-meta text-muted">
      <small>
        <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">Posted on {{ post.date | date: "%b %-d, %Y" }}</time>
        {% if post.categories %}
          • Filed under <span itemprop="keywords">
          {% for cat in post.categories %}
            {% assign category = site.categories | where: 'title', cat | first %}
            <a href="{{ category.url | relative_url }}">{{ category.title }}</a>{% unless forloop.last == true %}, {% endunless %}
          {% endfor %}
          </span>
        {% endif %}
      </small>
    </p>
  </div>
</div>
