<header>
  <div class="hero" style="background-image: url('{{ page.hero_image | default: site.hero_image | absolute_url }}');">
    <div class="overlay"></div>
    <div class="page-title">
      <h1 class="title">
        {% if page.title == 'Home' %}
          {{ site.title | escape }}
        {% else %}
          {{ page.title | default: site.title | escape }}
        {% endif %}
      </h1>
      <div class="description">
        {{ page.description | default: site.description | markdownify }}
      </div>
    </div>
  </div>
</header>
