<div class="about">

  <div class="author clearfix">
    <div class="circle bg-img author-img" style="background-image: url('{{ site.author_image }}');"></div>

    <div class="info" itemscope itemtype="http://schema.org/Person">
      <h2 class="author-title" itemprop="name">{{ site.author }}</h2>
      <div class="author-description">{{ site.author_description | markdownify }}</div>
    </div>
  </div>

  <nav class="social">
    <ul class="nav">
      {% for link in site.links %}
        <li class="nav-item">
          <a target="_blank" href="{{ link.url }}" class="nav-link" title="{{ link.text }}"><i class="icon {{ link.icon }}"></i></a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <hr>
</div>
