<div class="about">

  <div class="author">
    <div class="circle">
      <img src="{{ site.author_image }}" alt="{{ site.author }}">
    </div>

    <div class="info">
      <div class="author-description">{{ site.author_description | markdownify }}</div>
    </div>
  </div>

  <nav class="social">
    <ul class="nav">
      {% for link in site.links %}
        <li class="nav-item">
          <a target="_blank" href="{{ link.url }}" class="nav-link" title="{{ link.text }}"><i class="icon {{ link.icon }}"></i></a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <hr>
</div>
