<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="bg-faded">

    {% include header.html %}

    <main>

      <div class="container" aria-label="Content">

        <div class="page-title">

          <h1 class="text-center">
            {% if page.title == 'Home' %}
              {{ site.title | escape }}
            {% else %}
              {{ page.title | default: site.title | escape }}
            {% endif %}
          </h1>

          <div class="description text-center">
            {{ page.description | default: site.description | markdownify }}
          </div>

        </div>

        {{ content }}

      </div>

    </main>

    {% include scripts.html %}

  </body>

</html>
