---
layout: default
---

{% assign leftSidebarCards = "author, links" | split: ', ' %}
{% include sidebar.html cards=leftSidebarCards %}

<div class="col-lg-6">

  <article class="post card mb-4">

    <div class="card-block">

      <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
      </header>

      <div class="post-content">
        {{ content }}
      </div>

    </div>

  </article>

</div>

{% assign rightSidebarCards = "solutions, posts, projects" | split: ', ' %}
{% include sidebar.html cards=rightSidebarCards %}
