---
layout: default
---

<div class="content wrapper">
  {{ content }}

  {% if page.items %}
    <div class="list">
      {% for item in page.items %}
        <div class="item media">
          <div class="media-left">
            <a target="_blank" href="{{ item.url }}">
              <img class="media-object" src="{{ item.image }}" alt="{{ item.title }}">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ item.title }}</h4>
            {{ item.text | markdownify }}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
