---
layout: default
---

<article class="post card mb-4" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="card-block">

    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.categories %} • <span itemprop="keywords">{{ page.categories | join: ', ' }} </span>{% endif %}</p>
    </header>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

    {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
    {% endif %}

  </div>

</article>
