.archive {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  .card {
    flex: 0 0 auto;
    width: 100%;
  }

  @media (min-width: 768px) {
    justify-content: space-around;
    align-items: flex-start;

    .card {
      width: 45%;
    }
  }

  @media (min-width: 992px) {
    .card {
      width: 30%;
    }
  }
}
