body > header {
  height: 100vh;
  max-height: 800px;
  width: 100%;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(black, 0.25) 90%, transparent);
  }
}

.hero {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 470px;
  text-align: center;
  color: #fff;
}
