.author {
  .circle {
    width: 200px;
    height: 200px;
    border: 3px solid #000;
    margin: 2rem auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    img {
      flex: 0 0 auto;
      max-width: 100%;
    }
  }

  .info {
    width: 290px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.about {
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;

  hr {
    border-top: 2px solid black;
    width: 69%;
    max-width: 500px;
  }
}

.social {
  margin: 2rem 0;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  .nav {
    justify-content: space-around;
  }

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
    color: white;
    width: 48px;
    height: 48px;
  }

  .icon {
    display: flex;
    font-size: 1.5rem;
  }
}

.section-title {
  text-align: center;
  border-bottom: 2px solid black;
  width: 250px;
  margin: 3rem auto;
  padding-bottom: 1rem;
}

.unis {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  .uni {
    flex: 0 0 auto;
    width: 100%;
    padding: 1rem;
    text-align: center;

    img {
      width: auto;
      height: 150px;
      display: block;
      margin: 1rem auto;
    }
  }

  @media (min-width: 768px) {
    justify-content: space-around;

    .uni {
      width: 50%;
    }
  }
}
