@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,300");

$font-family-sans-serif: "Lato", sans-serif;

//$headings-font-family: "Oswald", sans-serif;

@import "bootstrap";
@import "bootstrap_overrides";

$fa-css-prefix: "icon";
$fa-font-size-base: 16px;

@import "font-awesome";

@import "syntax-highlighting.scss";

@import "header";
@import "home";
@import "archive";

main {
  padding-top: 15px;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  padding: 1rem;
}

.circle {
  border-radius: 50%;

  .card & {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 125px;
    width: 125px;
    margin: -87.5px auto 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
}

pre {
  padding: 1rem;

  code {
    color: #f8f8f2;
  }
}

code {
  background-color: #272822;
  color: #f8f8f2;
}

.post-description {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-style: italic;
  margin-bottom: 1rem;
  padding: 1.25rem;

  > p:last-child {
    margin-bottom: 0;
  }
}

@include media-breakpoint-down(md) {
  .navbar-brand,
  .navMenu {
    padding-left: 1rem;
  }
}
